@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&family=IM+Fell+English+SC&family=Libre+Baskerville&family=Roboto:ital,wght@0,300;0,500;1,300&display=swap");
* {
  font-family: "Roboto", helvetica, sans-serif;
  color: #dadada;
}

.title__main {
  font-family: "Cinzel", serif;
  font-weight: 600;
  font-size: 2.5em;
  color: #d293fd;
  text-align: center;
}

.title__main--top {
  font-size: 1.5;
}

.menu {
  text-align: center;
}

h3 {
  font-family: "IM Fell English SC", serif;
  font-size: 1.5em;
}

.menu--start {
  text-align: center;
}

.character-creation__message {
  text-align: center;
  font-size: 1em;
}

.character-creation__error {
  text-align: center;
  font-size: 1em;
  color: #bc0f0f;
}

button {
  font-size: large;
  font-weight: 300;
}

.title__main--top {
  font-size: 2em;
}

h4 {
  font-family: "Cinzel", serif;
  font-size: 1.5em;
}

h5,
p,
input[type=text],
select {
  font-weight: 300;
}

[class*=ability-no],
[class*=senses-mod],
[class*=weapon-attack],
[class*=armour-bonus] {
  font-size: 1.1em;
}

[class*=__ability-text],
[class*=__saving-throws-text] {
  text-transform: uppercase;
}

[class*=saving-throws-mod],
.stats__saving-throws-title,
.stats__senses-title,
.stats__equipment-title,
.stats__spells-title {
  font-size: 1em;
}

[class*=-table] > h5 {
  color: #d293fd;
}

[class*=equipment-desc],
.game__popup--result {
  font-size: 0.8em;
  text-align: justify;
  opacity: 80%;
}

[class*=__equipment-mod],
[class*=__spell-mod] {
  font-size: 1em;
}

.justified {
  text-align: justify;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1b1b1b;
}

.title {
  position: absolute;
  top: 20vh;
  right: 0;
  left: 0;
}
.title__main {
  width: 80vw;
  margin: 0 auto;
}

.menu--start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 45vh 0 0 0;
  max-height: 55vh;
  min-height: 55vh;
}

.menu {
  min-height: 76vh;
  margin: 24vh 0 0 0;
}
.menu__title {
  margin: 0 12vw;
}

.character-creation__message {
  margin: 0 10vw;
}

.character-creation__error {
  position: sticky;
  position: -webkit-sticky;
  bottom: 20vh;
  text-align: center;
  margin: 0 auto;
  background-color: #d293fd;
  color: #1b1b1b;
  padding: 4px 12px;
  border-radius: 20px;
}

.character-creation__btn-ribbon {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 16vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(1, 1, 1, 0);
  background-image: linear-gradient(rgba(1, 1, 1, 0), rgba(211, 147, 253, 0.049), rgba(211, 147, 253, 0.12), rgba(211, 147, 253, 0.242), rgba(211, 147, 253, 0.443), rgba(211, 147, 253, 0.614));
  margin-top: 0;
}

.name,
.class__selector,
.species__selector {
  margin-top: 10vh;
}

.ability {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 106px;
  min-height: 106px;
  row-gap: 5vh;
  margin-bottom: 6vh;
}
.ability__container {
  margin: 10vh 20vw 0 20vw;
}

[class*=stats__] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1vh;
  border: solid #d293fd 1px;
  border-radius: 10px;
  padding: 10px;
}

[class*=-text],
[class*=-no] {
  padding: 5px;
  border: 0;
}

[class*=__ability--] {
  align-items: center;
  padding-bottom: 0;
  row-gap: 1vh;
  min-width: 33%;
}

[class*=ability-no] {
  border: solid #d293fd 1px;
  border-radius: 50px;
  padding: 1px 20px;
}

[class*=ability-mod] {
  min-width: 90%;
}

[class*=saving-throws--],
[class*=senses--],
[class*=item--],
[class*=weapon--],
[class*=spell--],
[class*=-table] {
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

[class*=saving-throws--] {
  justify-content: space-between;
}

[class*=senses--] {
  justify-content: flex-start;
}

[class*=saving-throws-text],
[class*=senses-text] {
  justify-content: center;
  padding-left: 15px;
}

[class*=saving-throws-mod] {
  padding: 5px;
  min-width: 32px;
  justify-content: center;
}

[class*=senses-mod] {
  padding: 5px;
  min-width: 46px;
}

[class*=__equipment--],
[class*=__spells] {
  padding: 0 10px;
}

[class*=__equipment-text] {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  min-width: 60px;
  max-width: 60px;
}

[class*=__equipment-weapon--] [class*=__equipment-text],
[class*=__equipment-weapon--] [class*=__spell-text],
[class*=__spell--] [class*=__equipment-text],
[class*=__spell--] [class*=__spell-text],
[class*=table--four-items] [class*=__equipment-text],
[class*=table--four-items] [class*=__spell-text] {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: 60px;
  min-width: 60px;
}

[class*=__equipment-mod],
[class*=__spell-mod] {
  margin: 0 8px 0 8px;
  min-width: 44px;
  max-width: 44px;
  max-height: 44px;
  min-height: 44px;
  padding: 0px;
  justify-content: center;
}

[class*=__equipment-item--tools] > h5 {
  max-width: 600px;
}

[class*=equipment-desc] {
  margin: 0;
}

.stats {
  padding: 0 20px;
  margin-top: 5vh;
}
.stats__name-race-class {
  border: 0;
}
.stats__name, .stats__species {
  padding: 5px;
  border: 0;
}
.stats__hit-points-no-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.stats__hit-points-current-no, .stats__hit-points-max-no {
  padding-right: 0;
}
.stats__initiative {
  justify-content: flex-start;
  border: 0;
  padding-top: 0;
}
.stats__initiative-no {
  border: solid #d293fd 1px;
  border-radius: 10px;
  padding: 15px;
}
.stats__armour-class-text2 {
  max-width: 60px;
}
.stats__armour-class {
  border-radius: 10px 10px 100px 100px;
  align-items: center;
}
.stats__abilities {
  border: 0;
  padding: 32px 0 16px 0;
}
.stats__saving-throws, .stats__senses, .stats__equipment, .stats__spells {
  padding: 16px 10px 16px 10px;
  margin-bottom: 16px;
  border: 0;
}
.stats__saving-throws-title, .stats__senses-title, .stats__equipment-title, .stats__spells-title {
  border: 0;
  padding: 0 0 5px 0;
}
.stats__senses, .stats__saving-throws {
  padding: 16px 0 16px 0;
}
.stats__equipment, .stats__spells {
  border: solid #d293fd 1px;
}
.stats__equipment h5, .stats__spells h5 {
  border: 0;
  justify-content: center;
}
.stats__equipment div, .stats__spells div {
  border: 0;
}
.stats__equipment [class*=__equipment-table],
.stats__equipment [class*=__spell-table], .stats__spells [class*=__equipment-table],
.stats__spells [class*=__spell-table] {
  border-radius: 0;
  border-bottom: solid #d293fd 1px;
}
.stats__equipment [class*=__equipment-table] h5,
.stats__equipment [class*=__spell-table] h5, .stats__spells [class*=__equipment-table] h5,
.stats__spells [class*=__spell-table] h5 {
  border: 0;
}
.stats__equipment__equipment--items, .stats__spells__equipment--items {
  min-width: 100%;
}
.stats__spells-title {
  margin-top: 10px;
}

.game {
  margin: 26vh 5vw 0 5vw;
  max-height: 55vh;
  min-height: 55vh;
  max-width: 90vw;
}
.game__menu {
  display: flex;
  flex-direction: column;
  row-gap: 4vh;
  border: solid 1px #d293fd;
  border-radius: 10px;
  padding: 30px 20px 40px 20px;
  text-align: center;
}

.footer {
  min-height: 10vh;
  min-width: 100%;
  max-width: 100%;
}

.game__popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  border: solid 1px #d293fd;
  border-radius: 10px;
  min-width: 80vw;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4vh;
  background-color: #564462;
  color: #1b1b1b;
}
.game__popup-title, .game__popup-result, .game__popup-message {
  padding: 10px 30px;
  border-radius: 10px;
}

.title--top {
  top: 5vh;
}

.hidden {
  display: none;
  position: fixed;
}

.flex-start {
  justify-content: flex-start;
}

.margin-top-auto {
  margin-top: auto;
}

.menu--row-gap {
  row-gap: 5vh;
}

@media screen and (max-width: 576px) {
  .menu--start {
    max-height: 55vh;
  }
}
@media screen and (min-width: 576px) {
  .menu {
    min-height: 82vh;
    margin-top: 18vh;
  }

  .character-creation__message {
    margin: 0 20vw;
  }

  .name,
.class__selector,
.species__selector {
    margin-top: 16vh;
  }

  .ability__container {
    margin: 3vh 0 0 0;
    min-width: 100%;
  }

  .ability {
    margin: 2vh 5vw;
  }

  .game__menu {
    max-width: 476px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .character-creation__error {
    position: fixed;
    bottom: 18vh;
  }

  .stats__abilities {
    padding: 0;
    margin-right: 2vw;
    margin-bottom: 16px;
  }

  .stats__senses {
    padding: 0 15%;
  }

  .stats__equipment {
    max-height: 500px;
    overflow-y: scroll;
  }
  .stats__equipment--items {
    max-width: 48vw;
    min-width: 100%;
  }

  [class*=ability-no] {
    padding: 5px 25px;
  }

  [class*=__ability--] {
    align-items: center;
    padding-bottom: 0;
    row-gap: 1vh;
    min-width: 33%;
    max-height: 180px;
  }

  [class*=equipment-desc] {
    min-width: 82%;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    min-height: 76vh;
    margin-top: 24vh;
  }

  .character-creation__error {
    position: fixed;
    bottom: 12vh;
  }

  .stats {
    max-width: 1100px;
  }
  .stats__abilities {
    margin: 0;
  }
  .stats__saving-throws {
    margin: 0;
  }

  [class*=equipment-desc] {
    min-width: 86%;
  }

  .game {
    margin: 20vh 5vw 0 5vw;
  }

  .game__popup {
    min-width: 40vw;
    max-width: 40vw;
  }

  .desktop-margin {
    min-height: 82vh;
    margin-top: 18vh;
  }
}
.ability__container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template: "ability1" "ability2" "ability3" "ability4" "ability5" "ability6";
}

.ability--one {
  grid-area: ability1;
}

.ability--two {
  grid-area: ability2;
}

.ability--three {
  grid-area: ability3;
}

.ability--four {
  grid-area: ability4;
}

.ability--five {
  grid-area: ability5;
}

.ability--six {
  grid-area: ability6;
}

.stats {
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 1vh;
  grid-template: "name-race-class name-race-class name-race-class" "hit-points hit-points armour" "proficiency initiative movement" "abilities abilities abilities" "saving-throws saving-throws saving-throws" "senses senses senses" "equipment equipment equipment" "spells spells spells" "game-btn game-btn game-btn";
}
.stats__name-race-class {
  grid-area: name-race-class;
}
.stats__proficiency {
  grid-area: proficiency;
}
.stats__hit-points {
  grid-area: hit-points;
}
.stats__armour-calss {
  grid-area: armour;
}
.stats__walking-speed {
  grid-area: movement;
}
.stats__initiative {
  grid-area: initiative;
}
.stats__abilities {
  grid-area: abilities;
}
.stats__saving-throws {
  grid-area: saving-throws;
}
.stats__senses {
  grid-area: senses;
}
.stats__skills {
  grid-area: skills;
}
.stats__actions {
  grid-area: actions;
}
.stats__spells {
  grid-area: spells;
}
.stats__equipment {
  grid-area: equipment;
}
.stats__btn--game {
  grid-area: game-btn;
}

.stats__abilities {
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 1vh;
  grid-template: "strength dexterity constitution" "intelligence wisdom charisma";
}

.stats__skills--strength {
  grid-area: strength;
}
.stats__skills--dexterity {
  grid-area: dexterity;
}
.stats__skills--constitution {
  grid-area: constitution;
}
.stats__skills--intelligence {
  grid-area: intelligence;
}
.stats__skills--wisdom {
  grid-area: wisdom;
}
.stats__skills--charisma {
  grid-area: charisma;
}

.stats__saving-throws {
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 1vh;
  grid-template: "st-title st-title" "st-strength st-dexterity" "st-constitution st-intelligence" "st-wisdom st-charisma";
}

.stats__saving-throws-title {
  grid-area: st-title;
}
.stats__saving-throws--strength {
  grid-area: st-strength;
}
.stats__saving-throws--dexterity {
  grid-area: st-dexterity;
}
.stats__saving-throws--constitution {
  grid-area: st-constitution;
}
.stats__saving-throws--intelligence {
  grid-area: st-intelligence;
}
.stats__saving-throws--wisdom {
  grid-area: st-wisdom;
}
.stats__saving-throws--charisma {
  grid-area: st-charisma;
}

.hidden {
  display: none;
  position: fixed;
}

@media screen and (min-width: 576px) {
  .ability__container {
    grid-template: "ability1 ability2" "ability3 ability4" "ability5 ability6";
  }
}
@media screen and (min-width: 768px) {
  .stats {
    row-gap: 2vh;
    grid-template: "name-race-class name-race-class name-race-class name-race-class" "abilities movement hit-points hit-points" "abilities proficiency initiative armour" "abilities saving-throws saving-throws saving-throws" "abilities senses senses senses" "abilities equipment equipment equipment" "1fr spells spells spells" "game-btn game-btn game-btn game-btn";
  }

  .stats__abilities {
    row-gap: 3vh;
    grid-template: "strength" "dexterity" "constitution" "intelligence" "wisdom" "charisma";
  }
}
@media screen and (min-width: 1200px) {
  .ability__container {
    grid-template: "ability1 ability2 ability3" "ability4 ability5 ability6";
  }

  .stats {
    row-gap: 2vh;
    grid-template: "name-race-class name-race-class name-race-class name-race-class name-race-class name-race-class name-race-class name-race-class" "name-race-class name-race-class name-race-class name-race-class name-race-class name-race-class name-race-class name-race-class" "abilities abilities abilities abilities abilities abilities hit-points hit-points" "abilities abilities abilities abilities abilities abilities hit-points hit-points" "proficiency movement initiative armour equipment equipment equipment equipment" "saving-throws saving-throws saving-throws saving-throws equipment equipment equipment equipment" "senses senses senses senses equipment equipment equipment equipment" ". . . . spells spells spells spells" "game-btn game-btn game-btn game-btn game-btn game-btn game-btn game-btn";
  }

  .stats__abilities {
    row-gap: 3vh;
    grid-template: "strength dexterity constitution intelligence wisdom charisma";
  }
}
button {
  min-height: 40px;
  max-height: 40px;
  min-width: 150px;
  max-width: 150px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: #dadada 2px solid;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #dadada;
  color: #1b1b1b;
  font-weight: 500;
}

.btn--back,
.btn--continue {
  border: 0;
}

.btn--reset {
  margin: 6vh auto 0 auto;
  position: sticky;
  position: -webkit-sticky;
  bottom: 12vh;
  z-index: 1;
}

[class*=game__btn] {
  min-width: 100%;
  min-height: 10vh;
}

.ability__btn:hover,
.btn--reset:hover,
#a:hover,
#b:hover,
#c:hover,
#d:hover {
  background-color: #564462;
  color: #dadada;
}

.stats__btn--game,
.game__btn--stats,
.game__btn--popup {
  min-height: 40px;
  max-height: 40px;
  min-width: 150px;
  max-width: 150px;
}

.game__btn--stats,
.stats__btn--game {
  background-color: #1b1b1b;
  color: #dadada;
  border: 2px solid #dadada;
  border-radius: 10px;
}

.stats__btn--game {
  align-items: center;
  justify-content: center;
  margin-bottom: 8vh;
}

@media screen and (min-width: 1200px) {
  .btn--reset {
    margin: 12vh auto 0 auto;
  }
}
input[type=text] {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(255, 255, 255, 0.455);
  border-radius: 10px;
  width: 220px;
}

select {
  margin: 0 auto;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(255, 255, 255, 0.455);
  border-radius: 10px;
  width: 220px;
}

/*# sourceMappingURL=main.css.map */
