@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&family=IM+Fell+English+SC&family=Libre+Baskerville&family=Roboto:ital,wght@0,300;1,300&display=swap");
* {
  font-family: "Roboto", helvetica, sans-serif;
  color: #1b1b1b;
}

.title__main {
  font-family: "Cinzel", serif;
  font-weight: 600;
  font-size: 2.5em;
  color: #bc0f0f;
  text-align: center;
}

.menu {
  text-align: center;
}
.menu__title {
  font-family: "IM Fell English SC", serif;
  font-size: 1.5em;
}

.menu--start {
  text-align: center;
}

.character-creation__message {
  text-align: center;
  font-size: 1em;
}

.character-creation__error {
  text-align: center;
  font-size: 1em;
  color: #bc0f0f;
}

button {
  font-weight: 600;
  font-size: large;
}

.title__main--top {
  font-size: 2em;
}

.stats__title {
  font-family: "Cinzel", serif;
  font-size: 1em;
}

.ability__container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template: "ability1" "ability2" "ability3" "ability4" "ability5" "ability6";
}

.ability--one {
  grid-area: ability1;
}

.ability--two {
  grid-area: ability2;
}

.ability--three {
  grid-area: ability3;
}

.ability--four {
  grid-area: ability4;
}

.ability--five {
  grid-area: ability5;
}

.ability--six {
  grid-area: ability6;
}

.stats__container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template: "name-race-class" "hit-points" "movement-initiative-armour" "abilities" "senses" "skills" "actions" "spells" "inventory";
}
.stats__container__name-race-class {
  grid-area: name-race-class;
}
.stats__container__hit-points {
  grid-area: hit-points;
}
.stats__container__movement-initiative-armour {
  grid-area: movement-initiative-armour;
}
.stats__container__abilities {
  grid-area: abilities;
}
.stats__container__senses {
  grid-area: senses;
}
.stats__container__skills {
  grid-area: skills;
}
.stats__container__actions {
  grid-area: actions;
}
.stats__container__spells {
  grid-area: spells;
}
.stats__container__inventory {
  grid-area: inventory;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #dadada;
}

.title {
  position: absolute;
  top: 20vh;
  right: 0;
  left: 0;
}
.title__main {
  width: 80vw;
  margin: 0 auto;
}

.menu--start {
  position: absolute;
  top: 46%;
  bottom: 50%;
  right: 10%;
  left: 10%;
}

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 10vh;
  margin: 25vh 0 15vh 0;
}
.menu__title {
  padding: 0 10%;
  margin-bottom: 15vh;
}

.character-creation__message {
  margin: 0 10vw;
}

.start {
  position: absolute;
  bottom: 20vh;
  right: 0;
  left: 0;
}

.character-creation__error {
  text-align: center;
  margin: 0 10vw;
}

.ability {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5vh;
  margin-bottom: 6vh;
}
.ability__container {
  margin: 0 20vw;
}

[class*=stats] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2vh;
  padding: 20px;
}

.title--top {
  top: 5vh;
}

.hidden {
  display: none;
  position: fixed;
}

button {
  min-height: 40px;
  min-width: 150px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

select {
  margin: 0 auto;
}

/*# sourceMappingURL=main.css.map */
