@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&family=IM+Fell+English+SC&family=Libre+Baskerville&family=Roboto:ital,wght@0,300;1,300&display=swap");
* {
  font-family: "Roboto", helvetica, sans-serif;
  color: #1b1b1b;
}

.title__main {
  font-family: "Cinzel", serif;
  font-weight: 600;
  font-size: 2.5em;
  color: #bc0f0f;
  text-align: center;
}

.menu {
  text-align: center;
}
.menu__title {
  font-family: "IM Fell English SC", serif;
  font-size: 1.5em;
}

.menu--start {
  text-align: center;
}

.character-creation__message {
  text-align: center;
  font-size: 1em;
}

.character-creation__error {
  text-align: center;
  font-size: 1em;
  color: #bc0f0f;
}

button {
  font-weight: 600;
  font-size: large;
}

.title__main--top {
  font-size: 2em;
}

h4 {
  font-family: "Cinzel", serif;
  font-size: 1.5em;
}

h5 {
  font-weight: 600;
}

[class*=ability-no],
[class*=senses-mod],
[class*=weapon-attack],
[class*=armour-bonus] {
  font-size: 1.1em;
}

[class*=saving-throws-mod],
.stats__saving-throws-title,
.stats__senses-title,
.stats__equipment-title {
  font-size: 1em;
}

[class*=-table] > h5 {
  color: #bc0f0f;
}

[class*=__equipment-weapon--] > h4 {
  font-size: 1.3em;
}

.justified {
  text-align: justify;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #dadada;
}

.title {
  position: absolute;
  top: 20vh;
  right: 0;
  left: 0;
}
.title__main {
  width: 80vw;
  margin: 0 auto;
}

.menu--start {
  position: absolute;
  top: 46%;
  bottom: 50%;
  right: 10%;
  left: 10%;
}

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 10vh;
  margin: 25vh 0 15vh 0;
}
.menu__title {
  padding: 0 10%;
  margin-bottom: 15vh;
}

.character-creation__message {
  margin: 0 10vw;
}

.start {
  position: absolute;
  bottom: 20vh;
  right: 0;
  left: 0;
}

.character-creation__error {
  text-align: center;
  margin: 0 10vw;
}

.ability {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5vh;
  margin-bottom: 6vh;
}
.ability__container {
  margin: 0 20vw;
}

[class*=stats__] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1vh;
  border: solid #bc0f0f 1px;
  border-radius: 10px;
  padding: 10px;
}

[class*=-text],
[class*=-no] {
  padding: 5px;
  border: 0;
}

[class*=__ability--] {
  align-items: center;
  padding-bottom: 0;
  row-gap: 1vh;
  min-width: 33%;
}

[class*=ability-no] {
  border: solid #bc0f0f 1px;
  border-radius: 50px;
  min-width: 12vw;
}

[class*=ability-mod] {
  min-width: 90%;
}

[class*=saving-throws--],
[class*=senses--],
[class*=potion--],
[class*=armour--],
[class*=weapon--],
[class*=-table] {
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px;
}

[class*=saving-throws--] {
  justify-content: space-between;
}

[class*=senses--] {
  justify-content: flex-start;
}

[class*=saving-throws-text],
[class*=senses-text] {
  justify-content: center;
  padding-left: 15px;
}

[class*=saving-throws-mod] {
  padding: 5px;
  min-width: 32px;
}

[class*=senses-mod] {
  padding: 5px;
  min-width: 46px;
}

[class*=__equipment--] {
  padding: 0 10px;
}

[class*=__equipment-weapon--] > h5,
[class*=__equipment-table--weapons] > h5 {
  margin: 0 6vw 0 0;
  padding-left: 0;
  padding-right: 0;
  max-width: 60px;
  min-width: 60px;
}

[class*=__equipment-weapon--] > h4,
[class*=__equipment-armour--] > h4 {
  margin: 0 6vw 0 0;
  min-width: 60px;
  max-height: 54px;
  min-height: 54px;
  padding: 5px;
  justify-content: center;
}

[class*=__equipment-armour--] > h5,
[class*=__equipment-potion--] > h5,
[class*=__equipment-tools--] > h5,
[class*=__equipment-table--armour] > h5,
[class*=__equipment-table--potions] > h5,
[class*=__equipment-table--tools] > h5 {
  margin: 0 16vw 0 0;
  padding-left: 0;
  padding-right: 0;
  max-width: 60px;
  min-width: 60px;
}

[class*=__equipment-weapon--] > h4 {
  margin: 0 6vw 0 0;
  min-width: 60px;
  max-height: 54px;
  min-height: 54px;
  padding: 5px;
  justify-content: center;
}

.stats {
  padding: 20px;
}
.stats__name-race-class {
  border: 0;
}
.stats__name {
  padding: 5px;
  border: 0;
}
.stats__species {
  padding: 5px;
  border: 0;
}
.stats__hit-points-no-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.stats__hit-points-current-no {
  padding-right: 0;
}
.stats__hit-points-max-no {
  padding-left: 0;
}
.stats__initiative {
  justify-content: flex-start;
  border: 0;
  padding-top: 0;
}
.stats__initiative-no {
  border: solid #bc0f0f 1px;
  border-radius: 10px;
  padding: 15px;
}
.stats__armour-class-text2 {
  max-width: 60px;
}
.stats__armour-class {
  border-radius: 10px 10px 100px 100px;
  align-items: center;
}
.stats__abilities {
  border: 0;
  padding: 32px 0 16px 0;
}
.stats__saving-throws, .stats__senses, .stats__equipment {
  padding: 16px 10px 16px 10px;
  margin-bottom: 16px;
}
.stats__saving-throws-title, .stats__senses-title, .stats__equipment-title {
  border: 0;
  padding: 0 0 5px 0;
}
.stats__equipment h5 {
  border: 0;
  justify-content: center;
}
.stats__equipment div {
  border: 0;
}
.stats__equipment [class*=__equipment-table--] {
  border-radius: 0;
  border-bottom: solid #bc0f0f 1px;
}
.stats__equipment [class*=__equipment-table--] h5 {
  border: 0;
}
.stats__equipment > div {
  border: 0;
}

.title--top {
  top: 5vh;
}

.hidden {
  display: none;
  position: fixed;
}

.ability__container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template: "ability1" "ability2" "ability3" "ability4" "ability5" "ability6";
}

.ability--one {
  grid-area: ability1;
}

.ability--two {
  grid-area: ability2;
}

.ability--three {
  grid-area: ability3;
}

.ability--four {
  grid-area: ability4;
}

.ability--five {
  grid-area: ability5;
}

.ability--six {
  grid-area: ability6;
}

.stats {
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 1vh;
  grid-template: "name-race-class name-race-class name-race-class" "hit-points hit-points armour" "proficiency initiative movement" "abilities abilities abilities" "saving-throws saving-throws saving-throws" "senses senses senses" "equipment equipment equipment" "spells spells spells";
}
.stats__name-race-class {
  grid-area: name-race-class;
}
.stats__proficiency {
  grid-area: proficiency;
}
.stats__hit-points {
  grid-area: hit-points;
}
.stats__armour-calss {
  grid-area: armour;
}
.stats__walking-speed {
  grid-area: movement;
}
.stats__initiative {
  grid-area: initiative;
}
.stats__abilities {
  grid-area: abilities;
}
.stats__saving-throws {
  grid-area: saving-throws;
}
.stats__senses {
  grid-area: senses;
}
.stats__skills {
  grid-area: skills;
}
.stats__actions {
  grid-area: actions;
}
.stats__spells {
  grid-area: spells;
}
.stats__equipment {
  grid-area: equipment;
}

.stats__abilities {
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 1vh;
  grid-template: "strength dexterity constitution" "intelligence wisdom charisma";
}

.stats__skills--strength {
  grid-area: strength;
}
.stats__skills--dexterity {
  grid-area: dexterity;
}
.stats__skills--constitution {
  grid-area: constitution;
}
.stats__skills--intelligence {
  grid-area: intelligence;
}
.stats__skills--wisdom {
  grid-area: wisdom;
}
.stats__skills--charisma {
  grid-area: charisma;
}

.stats__saving-throws {
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 1vh;
  grid-template: "st-title st-title" "st-strength st-dexterity" "st-constitution st-intelligence" "st-wisdom st-charisma";
}

.stats__saving-throws-title {
  grid-area: st-title;
}
.stats__saving-throws--strength {
  grid-area: st-strength;
}
.stats__saving-throws--dexterity {
  grid-area: st-dexterity;
}
.stats__saving-throws--constitution {
  grid-area: st-constitution;
}
.stats__saving-throws--intelligence {
  grid-area: st-intelligence;
}
.stats__saving-throws--wisdom {
  grid-area: st-wisdom;
}
.stats__saving-throws--charisma {
  grid-area: st-charisma;
}

.hidden {
  display: none;
  position: fixed;
}

button {
  min-height: 40px;
  min-width: 150px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

select {
  margin: 0 auto;
}

/*# sourceMappingURL=main.css.map */
