@use "../abstracts" as *;

.ability__container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template:
    "ability1"
    "ability2"
    "ability3"
    "ability4"
    "ability5"
    "ability6";
}

.ability--one {
  grid-area: ability1;
}

.ability--two {
  grid-area: ability2;
}

.ability--three {
  grid-area: ability3;
}

.ability--four {
  grid-area: ability4;
}

.ability--five {
  grid-area: ability5;
}

.ability--six {
  grid-area: ability6;
}

.stats__container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template:
    "name-race-class"
    "hit-points"
    "movement-initiative-armour"
    "abilities"
    "senses"
    "skills"
    "actions"
    "spells"
    "inventory";

  &__name-race-class {
    grid-area: name-race-class;
  }

  &__hit-points {
    grid-area: hit-points;
  }

  &__movement-initiative-armour {
    grid-area: movement-initiative-armour;
  }

  &__abilities {
    grid-area: abilities;
  }

  &__senses {
    grid-area: senses;
  }

  &__skills {
    grid-area: skills;
  }

  &__actions {
    grid-area: actions;
  }

  &__spells {
    grid-area: spells;
  }

  &__inventory {
    grid-area: inventory;
  }
}
