@use "../abstracts" as *;

.ability__container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template:
    "ability1"
    "ability2"
    "ability3"
    "ability4"
    "ability5"
    "ability6";
}

.ability--one {
  grid-area: ability1;
}

.ability--two {
  grid-area: ability2;
}

.ability--three {
  grid-area: ability3;
}

.ability--four {
  grid-area: ability4;
}

.ability--five {
  grid-area: ability5;
}

.ability--six {
  grid-area: ability6;
}

.stats {
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 1vh;
  grid-template:
    "name-race-class name-race-class name-race-class"
    "hit-points hit-points armour"
    "proficiency initiative movement"
    "abilities abilities abilities"
    "saving-throws saving-throws saving-throws"
    "senses senses senses"
    "equipment equipment equipment"
    "spells spells spells";

  &__name-race-class {
    grid-area: name-race-class;
  }

  &__proficiency {
    grid-area: proficiency;
  }

  &__hit-points {
    grid-area: hit-points;
  }

  &__armour-calss {
    grid-area: armour;
  }

  &__walking-speed {
    grid-area: movement;
  }

  &__initiative {
    grid-area: initiative;
  }

  &__abilities {
    grid-area: abilities;
  }

  &__saving-throws {
    grid-area: saving-throws;
  }

  &__senses {
    grid-area: senses;
  }

  &__skills {
    grid-area: skills;
  }

  &__actions {
    grid-area: actions;
  }

  &__spells {
    grid-area: spells;
  }

  &__equipment {
    grid-area: equipment;
  }
}

.stats__abilities {
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 1vh;
  grid-template:
    "strength dexterity constitution"
    "intelligence wisdom charisma";
}

.stats {
  &__skills--strength {
    grid-area: strength;
  }

  &__skills--dexterity {
    grid-area: dexterity;
  }

  &__skills--constitution {
    grid-area: constitution;
  }

  &__skills--intelligence {
    grid-area: intelligence;
  }

  &__skills--wisdom {
    grid-area: wisdom;
  }

  &__skills--charisma {
    grid-area: charisma;
  }
}

.stats__saving-throws {
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 1vh;
  grid-template:
    "st-title st-title"
    "st-strength st-dexterity"
    "st-constitution st-intelligence"
    "st-wisdom st-charisma";
}

.stats {
  &__saving-throws-title {
    grid-area: st-title;
  }
  &__saving-throws--strength {
    grid-area: st-strength;
  }

  &__saving-throws--dexterity {
    grid-area: st-dexterity;
  }

  &__saving-throws--constitution {
    grid-area: st-constitution;
  }

  &__saving-throws--intelligence {
    grid-area: st-intelligence;
  }

  &__saving-throws--wisdom {
    grid-area: st-wisdom;
  }

  &__saving-throws--charisma {
    grid-area: st-charisma;
  }
}

.hidden {
  display: none;
  position: fixed;
}
