@use "../abstracts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $color-grey;
}

.title {
  position: absolute;
  top: 20vh;
  right: 0;
  left: 0;

  &__main {
    width: 80vw;
    margin: 0 auto;
  }
}

.menu--start {
  position: absolute;
  top: 46%;
  bottom: 50%;
  right: 10%;
  left: 10%;
}

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 10vh;
  margin: 25vh 0 15vh 0;
  &__title {
    padding: 0 10%;
    margin-bottom: 15vh;
  }
}

.character-creation__message {
  margin: 0 10vw;
}

.start {
  position: absolute;
  bottom: 20vh;
  right: 0;
  left: 0;
}

.character-creation__error {
  text-align: center;
  margin: 0 10vw;
}

.ability {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5vh;
  margin-bottom: 6vh;
  &__container {
    margin: 0 20vw;
  }
}

[class*="stats__"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1vh;
  border: solid $color-red 1px;
  border-radius: 10px;
  padding: 10px;
}

[class*="-text"],
[class*="-no"] {
  padding: 5px;
  border: 0;
}

[class*="__ability--"] {
  align-items: center;
  padding-bottom: 0;
  row-gap: 1vh;
  min-width: 33%;
}

[class*="ability-no"] {
  border: solid $color-red 1px;
  border-radius: 50px;
  min-width: 12vw;
}

[class*="ability-mod"] {
  min-width: 90%;
}

[class*="saving-throws--"],
[class*="senses--"],
[class*="item--"],
[class*="weapon--"],
[class*="spell--"],
[class*="-table"] {
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px;
}

[class*="saving-throws--"] {
  justify-content: space-between;
}

[class*="senses--"] {
  justify-content: flex-start;
}

[class*="saving-throws-text"],
[class*="senses-text"] {
  justify-content: center;
  padding-left: 15px;
}

[class*="saving-throws-mod"] {
  padding: 5px;
  min-width: 32px;
}

[class*="senses-mod"] {
  padding: 5px;
  min-width: 46px;
}

[class*="__equipment--"],
[class*="__spells"] {
  padding: 0 10px;
}

[class*="__equipment-text"] {
  margin: 0 16vw 0 0;
  padding-left: 0;
  padding-right: 0;
  min-width: 60px;
  max-width: 60px;
}

[class*="__equipment-weapon--"],
[class*="__spell--"],
[class*="table--four-items"] {
  [class*="__equipment-text"],
  [class*="__spell-text"] {
    margin: 0 6vw 0 0;
    padding-left: 0;
    padding-right: 0;
    max-width: 60px;
    min-width: 60px;
  }
}

[class*="__equipment-mod"],
[class*="__spell-mod"] {
  margin: 1vw 8vw 1vw 2vw;
  min-width: 44px;
  max-height: 44px;
  min-height: 44px;
  padding: 0px;
  justify-content: center;
}

[class*="__equipment-item--tools"] > h5 {
  max-width: 600px;
  margin-right: 20px;
}

[class*="equipment-desc"] {
  margin: 0;
}

.stats {
  padding: 20px;

  &__name-race-class {
    border: 0;
  }

  &__name,
  &__species {
    padding: 5px;
    border: 0;
  }

  &__hit-points-no-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__hit-points-current-no,
  &__hit-points-max-no {
    padding-right: 0;
  }

  &__initiative {
    justify-content: flex-start;
    border: 0;
    padding-top: 0;
  }

  &__initiative-no {
    border: solid $color-red 1px;
    border-radius: 10px;
    padding: 15px;
  }

  &__armour-class-text2 {
    max-width: 60px;
  }

  &__armour-class {
    border-radius: 10px 10px 100px 100px;
    align-items: center;
  }

  &__abilities {
    border: 0;
    padding: 32px 0 16px 0;
  }

  &__saving-throws,
  &__senses,
  &__equipment,
  &__spells {
    padding: 16px 10px 16px 10px;
    margin-bottom: 16px;
    border: 0;

    &-title {
      border: 0;
      padding: 0 0 5px 0;
    }
  }

  &__senses,
  &__saving-throws {
    padding: 16px 0 16px 0;
  }

  &__equipment,
  &__spells {
    border: solid $color-red 1px;

    h5 {
      border: 0;
      justify-content: center;
    }

    div {
      border: 0;
    }

    [class*="__equipment-table"],
    [class*="__spell-table"] {
      border-radius: 0;
      border-bottom: solid $color-red 1px;

      h5 {
        border: 0;
      }
    }
  }
}

.title--top {
  top: 5vh;
}

.hidden {
  display: none;
  position: fixed;
}
