@use "../abstracts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $color-grey;
}

.title {
  position: absolute;
  top: 20vh;
  right: 0;
  left: 0;

  &__main {
    width: 80vw;
    margin: 0 auto;
  }
}

.menu--start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 45vh 0 0 0;
  max-height: 55vh;
  min-height: 55vh;
}

.menu {
  min-height: 76vh;
  margin: 24vh 0 0 0;
  &__title {
    margin: 0 12vw;
  }
}

.character-creation__message {
  margin: 0 10vw;
}

.character-creation__error {
  position: absolute;
  text-align: center;
  margin: 0 10vw;
}

.character-creation__btn-ribbon {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 16vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(1, 1, 1, 0);
  background-image: linear-gradient(
    rgba(1, 1, 1, 0),
    rgba(211, 147, 253, 0.049),
    rgba(211, 147, 253, 0.12),
    rgba(211, 147, 253, 0.242),
    rgba(211, 147, 253, 0.443),
    rgba(211, 147, 253, 0.614)
  );
  margin-top: 0;
}

.name,
.class__selector,
.species__selector {
  margin-top: 10vh;
}

.ability {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5vh;
  margin-bottom: 6vh;
  &__container {
    margin: 10vh 20vw 0 20vw;
  }
}

[class*="stats__"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1vh;
  border: solid $color-red 1px;
  border-radius: 10px;
  padding: 10px;
}

[class*="-text"],
[class*="-no"] {
  padding: 5px;
  border: 0;
}

[class*="__ability--"] {
  align-items: center;
  padding-bottom: 0;
  row-gap: 1vh;
  min-width: 33%;
}

[class*="ability-no"] {
  border: solid $color-red 1px;
  border-radius: 50px;
  padding: 1px 20px;
}

[class*="ability-mod"] {
  min-width: 90%;
}

[class*="saving-throws--"],
[class*="senses--"],
[class*="item--"],
[class*="weapon--"],
[class*="spell--"],
[class*="-table"] {
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

[class*="saving-throws--"] {
  justify-content: space-between;
}

[class*="senses--"] {
  justify-content: flex-start;
}

[class*="saving-throws-text"],
[class*="senses-text"] {
  justify-content: center;
  padding-left: 15px;
}

[class*="saving-throws-mod"] {
  padding: 5px;
  min-width: 32px;
  justify-content: center;
}

[class*="senses-mod"] {
  padding: 5px;
  min-width: 46px;
}

[class*="__equipment--"],
[class*="__spells"] {
  padding: 0 10px;
}

[class*="__equipment-text"] {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  min-width: 60px;
  max-width: 60px;
}

[class*="__equipment-weapon--"],
[class*="__spell--"],
[class*="table--four-items"] {
  [class*="__equipment-text"],
  [class*="__spell-text"] {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: 60px;
    min-width: 60px;
  }
}

[class*="__equipment-mod"],
[class*="__spell-mod"] {
  margin: 0 8px 0 8px;
  min-width: 44px;
  max-width: 44px;
  max-height: 44px;
  min-height: 44px;
  padding: 0px;
  justify-content: center;
}

[class*="__equipment-item--tools"] > h5 {
  max-width: 600px;
}

[class*="equipment-desc"] {
  margin: 0;
}

.stats {
  padding: 0 20px;
  margin-top: 5vh;

  &__name-race-class {
    border: 0;
  }

  &__name,
  &__species {
    padding: 5px;
    border: 0;
  }

  &__hit-points-no-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__hit-points-current-no,
  &__hit-points-max-no {
    padding-right: 0;
  }

  &__initiative {
    justify-content: flex-start;
    border: 0;
    padding-top: 0;
  }

  &__initiative-no {
    border: solid $color-red 1px;
    border-radius: 10px;
    padding: 15px;
  }

  &__armour-class-text2 {
    max-width: 60px;
  }

  &__armour-class {
    border-radius: 10px 10px 100px 100px;
    align-items: center;
  }

  &__abilities {
    border: 0;
    padding: 32px 0 16px 0;
  }

  &__saving-throws,
  &__senses,
  &__equipment,
  &__spells {
    padding: 16px 10px 16px 10px;
    margin-bottom: 16px;
    border: 0;

    &-title {
      border: 0;
      padding: 0 0 5px 0;
    }
  }

  &__senses,
  &__saving-throws {
    padding: 16px 0 16px 0;
  }

  &__equipment,
  &__spells {
    border: solid $color-red 1px;

    h5 {
      border: 0;
      justify-content: center;
    }

    div {
      border: 0;
    }

    [class*="__equipment-table"],
    [class*="__spell-table"] {
      border-radius: 0;
      border-bottom: solid $color-red 1px;

      h5 {
        border: 0;
      }
    }
  }

  &__spells-title {
    margin-top: 10px;
  }
}

.game {
  margin: 26vh 5vw 0 5vw;
  max-height: 55vh;
  min-height: 55vh;
  max-width: 90vw;

  &__menu {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    border: solid 1px $color-red;
    border-radius: 10px;
    padding: 30px 20px 40px 20px;
    text-align: center;
  }
}

.footer {
  min-height: 10vh;
  min-width: 100%;
  max-width: 100%;
}

.game__popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  border: solid 1px $color-red;
  border-radius: 10px;
  min-width: 80vw;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4vh;
  background-color: $color-red;
  color: $color-grey;
}

.title--top {
  top: 5vh;
}

.hidden {
  display: none;
  position: fixed;
}

.flex-start {
  justify-content: flex-start;
}

.margin-top-auto {
  margin-top: auto;
}

.menu--row-gap {
  row-gap: 5vh;
}

@media screen and (min-width: 576px) {
  .menu {
    min-height: 82vh;
    margin-top: 18vh;
  }

  .character-creation__message {
    margin: 0 20vw;
  }

  .name,
  .class__selector,
  .species__selector {
    margin-top: 16vh;
  }

  .ability__container {
    margin: 5vh 0 0 0;
    min-width: 100%;
  }

  .ability {
    margin: 2vh 5vw;
  }

  .game__menu {
    max-width: 476px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .stats__abilities {
    padding: 0;
    margin-right: 2vw;
    margin-bottom: 16px;
  }

  .stats__senses {
    padding: 0 15%;
  }

  .stats__equipment {
    max-height: 500px;
    overflow-y: scroll;

    &--items {
      max-width: 48vw;
    }
  }

  [class*="ability-no"] {
    padding: 5px 25px;
  }

  [class*="__ability--"] {
    align-items: center;
    padding-bottom: 0;
    row-gap: 1vh;
    min-width: 33%;
    max-height: 180px;
  }

  [class*="equipment-desc"] {
    min-width: 82%;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    min-height: 76vh;
    margin-top: 24vh;
  }

  .stats {
    max-width: 1100px;

    &__abilities {
      margin: 0;
    }

    &__saving-throws {
      margin: 0;
    }
  }

  [class*="equipment-desc"] {
    min-width: 86%;
  }

  .desktop-margin {
    min-height: 82vh;
    margin-top: 18vh;
  }
}
