@use "../abstracts" as *;

button {
  min-height: 40px;
  max-height: 40px;
  min-width: 150px;
  max-width: 150px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: $color-black 2px solid;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  background-color: $color-black;
  color: $color-grey;
  font-weight: 500;
}

.btn--back,
.btn--continue {
  border: 0;
}

.btn--reset {
  margin: 6vh auto 0 auto;
  position: sticky;
  position: -webkit-sticky;
  bottom: 12vh;
  z-index: 1;
}

[class*="game__btn"] {
  min-width: 100%;
  min-height: 10vh;
}

.ability__btn:hover,
.btn--reset:hover,
#a:hover,
#b:hover,
#c:hover,
#d:hover {
  background-color: rgba(211, 147, 253, 0.25);
  color: $color-black;
}

.stats__btn--game,
.game__btn--stats,
.game__btn--popup {
  min-height: 40px;
  max-height: 40px;
  min-width: 150px;
  max-width: 150px;
}

.game__btn--stats,
.stats__btn--game {
  background-color: $color-grey;
  color: $color-black;
  border: 2px solid $color-black;
  border-radius: 10px;
}

.stats__btn--game {
  align-items: center;
  justify-content: center;
  margin-bottom: 8vh;
}

@media screen and (min-width: 1200px) {
  .btn--reset {
    margin: 12vh auto 0 auto;
  }
}
