@use "../abstracts" as *;

button {
  min-height: 40px;
  max-height: 40px;
  min-width: 150px;
  max-width: 150px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: $color-black 2px solid;
}

.btn--reset {
  margin: 0 auto;
  position: sticky;
  position: -webkit-sticky;
  bottom: 15vh;
}
