@use "../abstracts" as *;

* {
  font-family: $font-primary;
  color: $color-black;
}

.title__main {
  font-family: $font-secondary;
  font-weight: 600;
  font-size: 2.5em;
  color: $color-red;
  text-align: center;
}

.title__main--top {
  font-size: 1.5;
}

.menu {
  text-align: center;

  &__title {
    font-family: $font-tertiary;
    font-size: 1.5em;
  }
}

.menu--start {
  text-align: center;
}

.character-creation__message {
  text-align: center;
  font-size: 1em;
}

.character-creation__error {
  text-align: center;
  font-size: 1em;
  color: rgb(188, 15, 15);
}

button {
  font-weight: 600;
  font-size: large;
}

.title__main--top {
  font-size: 2em;
}

h4 {
  font-family: $font-secondary;
  font-size: 1.5em;
}

h5 {
  font-weight: 600;
}

[class*="ability-no"],
[class*="senses-mod"],
[class*="weapon-attack"],
[class*="armour-bonus"] {
  font-size: 1.1em;
}

[class*="__ability-text"],
[class*="__saving-throws-text"] {
  text-transform: uppercase;
}

[class*="saving-throws-mod"],
.stats__saving-throws-title,
.stats__senses-title,
.stats__equipment-title,
.stats__spells-title {
  font-size: 1em;
}

[class*="-table"] > h5 {
  color: $color-red;
}

[class*="equipment-desc"] {
  font-size: 0.8em;
  text-align: justify;
  opacity: 80%;
}

[class*="__equipment-mod"],
[class*="__spell-mod"] {
  font-size: 1em;
}

.justified {
  text-align: justify;
}
